.form {
    width: 40%;
    margin: auto;
}

.form h1 {
    text-align: center;
    color: rgb(241, 225, 100);
    margin-bottom: 2rem;
    font: bold 1.5rem 'Helvetica';

}

.full-width {
    width: 100%;
    
}

.botao {
   display: flex;    

}

.botao button {
    width: 40%;      
    margin: 1.5rem auto 0 auto;     
}